<h1>Mob DB Edit Page</h1>

<% if flash[:alert] %>
  <%= flash[:alert] %>
<% end %>

<% if @mob_data %>
  <table id="mob_data">
    <tr>
      <th>ID</th>
      <th>Sprite Name</th>
      <th>kRO Name</th>
      <th>iRO Name</th>
      <th>Level</th>
      <th>HP</th>
      <th>SP</th>
      <th>EXP</th>
      <th>JEXP</th>
      <th>Range 1</th>
      <th>ATK 1</th>
      <th>ATK 2</th>
      <th>DEF</th>
      <th>MDEF</th>
      <th>STR</th>
      <th>AGI</th>
      <th>VIT</th>
      <th>INT</th>
      <th>DEX</th>
      <th>LUK</th>
      <th>Range 2</th>
      <th>Range 3</th>
      <th>Scale</th>
      <th>Race</th>
      <th>Element</th>
      <th>Mode</th>
      <th>Speed</th>
      <th>aDelay</th>
      <th>aMotion</th>
      <th>dMotion</th>
      <th>MEXP</th>
      <th>MVP1ID</th>
      <th>MVP1Per</th>
      <th>MVP2ID</th>
      <th>MVP2Per</th>
      <th>MVP3ID</th>
      <th>MVP3Per</th>
      <th>Drop1ID</th>
      <th>Drop1Per</th>
      <th>Drop2ID</th>
      <th>Drop2Per</th>
      <th>Drop3ID</th>
      <th>Drop3Per</th>
      <th>Drop4ID</th>
      <th>Drop4Per</th>
      <th>Drop5ID</th>
      <th>Drop5Per</th>
      <th>Drop6ID</th>
      <th>Drop6Per</th>
      <th>Drop7ID</th>
      <th>Drop7Per</th>
      <th>Drop8ID</th>
      <th>Drop8Per</th>
      <th>Drop9ID</th>
      <th>Drop9Per</th>
      <th>DropCardID</th>
      <th>DropCardPer</th>
    </tr>
  <% @mob_data.each do |mob| %>
    <tr>
      <td><%= mob[0] %></td>
      <td><%= mob[1] %></td>
      <td><%= mob[2] %></td>
      <td><%= mob[3] %></td>
      <td><%= mob[4] %></td>
      <td><%= mob[5] %></td>
      <td><%= mob[6] %></td>
      <td><%= mob[7] %></td>
      <td><%= mob[8] %></td>
      <td><%= mob[9] %></td>
      <td><%= mob[10] %></td>
      <td><%= mob[11] %></td>
      <td><%= mob[12] %></td>
      <td><%= mob[13] %></td>
      <td><%= mob[14] %></td>
      <td><%= mob[15] %></td>
      <td><%= mob[16] %></td>
      <td><%= mob[17] %></td>
      <td><%= mob[18] %></td>
      <td><%= mob[19] %></td>
      <td><%= mob[20] %></td>
      <td><%= mob[21] %></td>
      <td><%= mob[22] %></td>
      <td><%= mob[23] %></td>
      <td><%= mob[24] %></td>
      <td><%= mob[25] %></td>
      <td><%= mob[26] %></td>
      <td><%= mob[27] %></td>
      <td><%= mob[28] %></td>
      <td><%= mob[29] %></td>
      <td><%= mob[30] %></td>
      <td><%= mob[31] %></td>
      <td><%= mob[32] %></td>
      <td><%= mob[33] %></td>
      <td><%= mob[34] %></td>
      <td><%= mob[35] %></td>
      <td><%= mob[36] %></td>
      <td><%= mob[37] %></td>
      <td><%= mob[38] %></td>
      <td><%= mob[39] %></td>
      <td><%= mob[40] %></td>
      <td><%= mob[41] %></td>
      <td><%= mob[42] %></td>
      <td><%= mob[43] %></td>
      <td><%= mob[44] %></td>
      <td><%= mob[45] %></td>
      <td><%= mob[46] %></td>
      <td><%= mob[47] %></td>
      <td><%= mob[48] %></td>
      <td><%= mob[49] %></td>
      <td><%= mob[50] %></td>
      <td><%= mob[51] %></td>
      <td><%= mob[52] %></td>
      <td><%= mob[53] %></td>
      <td><%= mob[54] %></td>
      <td><%= mob[55] %></td>
      <td><%= mob[56] %></td>
    </tr>
  <% end %>
  </table>
<% end %>